

html {
  scroll-behavior: smooth;

  // VARIABLES
  --border-radius: 0.2em;
  --sync-primary-bg: #213547;
  --sync-secondary-bg: #111621;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// DEFAULTS

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  
}

h1 {
  font-size:2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 2.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}



h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h5 {
  font-size: 1.3rem;
  font-weight: lighter;
}

.align-right {
  text-align: right;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

ul {
  list-style-type: none;
}


body {
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 100%;
}

main {
  max-width: 1140px;
  margin: 0 auto;

}

footer {
  padding-top: 70px;
  background-color: var(--sync-secondary-bg);
  color: white;
  min-height: 250px;
  border-top: 1px solid white;
  p {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 180%;
    margin-bottom: 20px;
  }
}

section {
  display: flex;
  flex-direction: column;

  padding: 4em 0;

  .title {
    text-align: center;
  }
  &.introduction {
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    gap: 3rem;

    h1,h5 {
      margin: 0 1rem;
    }
  }
}

article {
  .title {
    text-align: center;
  }
  .grid-2 {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  //padding: 1.2rem 0;

  &.header {
    margin: 1.2rem;
    border-bottom: 1px solid black;
  }

  .nav-left, .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  
  li {
      display: none;
      list-style-type: none;
  }
}

// CONTACT FORM

.form-container {
  min-height: 15rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
  overflow: hidden;

  ::placeholder {
    color: rgb(69, 75, 90);
    opacity: 1; /* Firefox */
  }

  &[aria-expanded="true"]{
    max-height: max-content;
  }
  
  label {
    padding-bottom: 0.5em;
  }

  input, select, textarea {
    color: white;
    background-color: var(--sync-secondary-bg);
    font-size: 1.6em;
    border: 1px solid grey;
    
    padding: 0.2em;
  }

  transition: max-height 0.3s ease-in;
}

// CUSTOM CLASSES

.cta {
  max-width: 160px;
  border-radius: 16px;
  border: 1px solid rgb(211, 205, 205);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efefef;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
    &:hover {
    border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }


    &-dark {
      color: white;
      background-color: #213547;
      border-color: white;
      border-width: 3px;
    }

    &:disabled {
      color: grey;
      background: rgb(63, 63, 63);
    }
}




.logo {
  position: relative;
  display: flex;
  &_small {
    height: 50px;
    width: auto;
  }

  &_xl {
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    transform: scale(0.6);
    img {
      width: 350px;
    }

    .bg {
      //filter: blur(20px);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 3;
      position: absolute;
    }

    #sync_logo_top, #sync_logo_bottom {
      width: 350px;
      height: fit-content;
      overflow: visible;
      &::before {
        content: '';
        z-index: 4;
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        background-color: white;
        height: 100%;
        width: 100vw;
      }

      &::after {
        content: '';
        z-index: 4;
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: white;
        height: 100%;
        width: 100vw;
      }
    }

    #sync_logo_top {
      z-index: 5;
      height: 175px;
      //transform: translate(-50%, 0);
    }

    #sync_logo_bottom {
      z-index: 5;
      height: 350px;
      //transform: translate(50%, 0);
    }

  }

  img {
    object-fit: contain;
  }

  &__text {
    display: none;
    filter: drop-shadow(0 0 0.75rem white);
    position: absolute;
    top: 100px;
    left: 0px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    z-index: 7;
  }
}



#app {
  width: 100%;
}

// PORTFOLIO

.video-reel {
  display: flex;
  flex-direction: row;
  //gap: 30px;
  margin: auto;
  padding: 0;
  // max-width: 1140px;
  // overflow-x: scroll;
  
  .glide__slide {
    transition: transform 0.3s ease-out;
    transform: scale(0.95);

    &--active {
      transform: none;
    }
  }


  .card {
    //flex-shrink: 0;
    text-align: center;
    color: white;
    border-radius: 1rem;
    background-color: #242424;
    padding: 2em;
    //width: 200px;
    height: 700px;
    position: relative;
    z-index: 3;

    &:hover {
      color: #1a1a1a;
      background-color: #c4c4c4;
      transition: background-color 0.3s ease-in-out;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    p {
      position: absolute;
      color: white;
      font-weight: 500;
      bottom: 0;
      left: 0;
      padding: 1rem;
      z-index: 5;
      
    }

    span {
      position: absolute;
      color: white;
      font-weight: 500;
      bottom: 0;
      right: 0;
      padding: 1rem;
      z-index: 5;
      
    }
  }
  

  &__container {
    display: flex;
    flex-direction: column;
    
  .cloud_img {
    margin: auto;
    width: 250px;
  }
  }
}

.clients {
  padding: 0 1rem;
  &-logos {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    img {
      height: 2rem;
      width: auto;
    }
  }
}

// GLIDEJS

.glide {
  max-width: 100%;
}

.glide__arrows {
  width: 100%;
  display: none;
  justify-content: space-between;
  position: absolute;
  left: 0;
  transform: translate(0px, -24rem);
}

.glide__arrow--left,
.glide__arrow--right {
  text-shadow:
    3px 3px 0 #FFF,
    -3px 3px 0 #FFF,
    -3px -3px 0 #FFF,
    3px -3px 0 #FFF;

  font-weight: bold;
  border-radius: 50%;
  font-family: monospace;
  font-size: 5rem;
  background: transparent;
  border: none;
  padding: 2rem 2.4rem;
}

.glide__arrow--right {
  margin-right: -8rem;
}


.glide__arrow--left {
  margin-left: -8rem;
}


// INFORMATION SECTION

.info-grid {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  div {
    border: 2px solid var(--sync-primary-bg);
    height: 350px;
    object-fit: contain;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// HERO

#hero {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: -6rem 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--sync-primary-bg);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #c4c4c4;
  }
}

// ABOUT US

.about-us {
  display: flex;
  flex-direction: column;
  figure {
    .profile-picture {
      overflow: hidden;
      display: flex;
      
      border-radius: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .social-media {
      margin: 2em auto;
      justify-content: center;
      padding: 0;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 2rem;
  }
}

// GET IN TOUCH

#get-in-touch {
  color: white;
  //background-color: #242424;
  position: relative;


  // background image/color
  > * {
    z-index: 3;
  }
  &::after {
    content: '';
    position: absolute;
    background-color: #111111;
    background:  linear-gradient(90deg, var(--sync-primary-bg) 0%, rgba(0,0,0,1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  // SINGLE LOGO BG
  // &::before {
  //   content: '';
  //   position: absolute;
  //   opacity: 20%;
  //   background-image: url('/sync_logo_bottom.svg');
  //   background-position: 70% 0%;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   transform: rotate(180deg);
  //   top: 10%;
  //   left: calc(0px - 40vw);
  //   width: 100%;
  //   height: 80%;
  //   z-index: 2;
  // }

  //REPEAT PATTERN BG
  &::before {
    content: '';
    position: absolute;
    opacity: 12%;
    background-image: url('/sync_logo_bottom.svg');
    background-size: 150px 150px;
    background-repeat: repeat;
    transform: rotate(180deg);
    top: 0;
    left: 0;
    width: 85vw;
    height: 100%;
    z-index: 2;
  }

  .button-container {
    padding: 1rem;
  }
}

// SOCIAL MEDIA

.social-media {
  display: flex;
  z-index: 1;

  li {
    padding: 0 0.5rem;
  }
}

// MEDIA QUERIES

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: normal;
  }

  h5 {
    font-weight: normal;
  }

  #hero {
    margin: 0 2rem;

    .logo_xl {
      transform: none;
    }
  }

  nav {
    li {
      display: flex;
      padding: 0 0.8rem;
    }
  }

  .about-us {
    display: grid;
    grid-template-columns: 25rem auto;

    article {
      margin: 0 2rem 0 0;
    }
  }

  .logo {
    &__text {
      display: block;
    }
  }

  .form-container {
    form {
    margin: 0 2rem;
    }

    .error-message {
      font-weight: bolder;
      color: #ff2424;
    }
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1140px) {

  main {
    padding: 0;
  }

  h1 {
    font-size: 4.8rem;
  }

  nav {
    padding: 1.2rem 0;

    li {
      padding: 0 2rem;
    }
  }


  .hero {
    margin: 2em 0;
  }

  .glide__arrows {
    display: flex;

    .glide__arrow--left, .glide__arrow--right {
      margin: 0;
    }
  }
  
  /* CSS */
  #get-in-touch {

    &::after {
      content: '';
      position: absolute;
      background-color: #111111;
      background:  linear-gradient(90deg, var(--sync-primary-bg) 0%, rgba(0,0,0,1) 100%);
      top: 0;
      left: calc(0px - 50vw + 578px - var(--scrollbarWidth));
      width: 100vw;
      height: 100%;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      opacity: 12%;
      background-image: url('/sync_logo_bottom.svg');
      background-size: 150px 150px;
      background-repeat: repeat;
      transform: rotate(180deg);
      top: 0;
      left: calc(+570px - 50vw);
      width: 85vw;
      height: 100%;
      z-index: 2;
    }

    .button-container {
      padding: 0;
    }
  }

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  .logo {
    &__text {
      position: fixed;
      left: 60px;
      top: 150px;
    }
  }
  
}