

html {
  scroll-behavior: smooth;

  // VARIABLES
  --border-radius: 0.2em;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// DEFAULTS

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}


body {
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 100%;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;

  padding: 4em 0;

  .title {
    text-align: center;
  }
  &.introduction {
    text-align: center;
  }
}

article {
  .title {
    text-align: center;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;

  &.header {
    margin: 1.2rem;
  }

  .nav-left, .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
   
  }
  
  li {
      padding: 0em 2em;
      list-style-type: none;
  }
}

// CONTACT FORM

.form-container {
  min-height: 15rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
  overflow: hidden;

  &[aria-expanded="true"]{
    max-height: max-content;
  }
  
  label {
    padding-bottom: 0.5em;
  }

  input, select, textarea {
    font-size: 1.6em;
    border-radius: var(--border-radius);
    padding: 0.2em;
  }

  transition: max-height 0.3s ease-in;
}

// CUSTOM CLASSES

.cta {
  max-width: 160px;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dadada;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
    &:hover {
    border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }


    &-dark {
      color: white;
      background-color: #213547;
    }
}




.logo {
  position: relative;
  display: flex;
  &_small {
    height: 50px;
    width: auto;
  }

  &_xl {
    height: 750px;
    width: auto;
  }

  img {
    object-fit: contain;
  }

  &__text {
    filter: drop-shadow(0 0 0.75rem white);
    position: absolute;
    top: 70px;
    left: 0px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    z-index: 5;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: lighter;
}

h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

#app {
  width: 100%;
}

.video-reel {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: auto;
  padding: 0;
  max-width: 1140px;
  overflow-x: scroll;
  

  .card {
    flex-shrink: 0;
    text-align: center;
    border-radius: 1rem;
    color: white;
    background-color: #242424;
    padding: 2em;
    width: 200px;
    height: 500px;

    &:hover {
      color: #1a1a1a;
      background-color: #c4c4c4;
      transition: background-color 0.3s ease-in-out;
    }
  }
  

  &__container {
    display: flex;
    flex-direction: column;
    
  .cloud_img {
    margin: auto;
    width: 150px;
  }
  }
}

.info-grid {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  div {
    border: 2px solid black;
    height: 200px;
  }
}

// HERO

#hero {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #c4c4c4;
  }
}

// GET IN TOUCH

#get-in-touch {
  color: white;
  background-color: #242424;
  position: relative;


  // background image/color
  > * {
    z-index: 3;
  }
  &::after {
    content: '';
    position: absolute;
    background-color: #242424;
    top: 0;
    left: calc(0px - 50vw + 578px - var(--scrollbarWidth));
    width: 100vw;
    height: 100%;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    opacity: 20%;
    background-image: url('/sync_logo_bottom.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    top: 0;
    left: calc(0px - 40vw);
    width: 100%;
    height: 50rem;
    z-index: 2;
  }

  
}

// SOCIAL MEDIA

.social-media {
  display: flex;
  z-index: 1;

  li {
    padding: 0 0.5rem;
  }
}
